
<ion-content padding color = "primary">
  
 <ion-grid>

    <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <ion-card color= "primary-contrast">
                <ion-card-header>
                    <div text-center>
                        <h4>Bemvindo a</h4>
                        <ion-card-title>myAppFilms</ion-card-title>
                      </div>
                </ion-card-header>
              
                <ion-card-content padding content-center>
                    <ion-button (click)="showFingerprintDialog()" color = "dark">
                        my fingerprint
                  </ion-button>
                </ion-card-content>
              </ion-card>
        </ion-col>
       </ion-row> 


 </ion-grid> 
</ion-content>

